<mat-card>
    <mat-form-field>
        <mat-select placeholder="Select a course">
            <mat-option (onSelectionChange)="setActiveCourse(course)" *ngFor="let course of coursesListArray" [value]="course.id">
                {{course.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Number Of Players" type="number" [(ngModel)]="pCount">
    </mat-form-field>
    <button mat-raised-button (click)="submit()">Submit</button>
</mat-card>
<router-outlet></router-outlet>