<mat-card>
    <table>
        <tr>
          <th>Players</th>
          <th *ngFor="let hole of holesArray">
            <p>{{hole.hole}}</p>
            <p>{{hole.teeBoxes[0].yards}}YRD</p>
          </th>
          <th>Input</th>
          <th>Output</th>
        </tr>
        <tr *ngFor="let player of players; let y = index" class="players">
          <th>{{player.name}}</th>
          <td *ngFor="let hole of holesArray; let x = index">
              <input matInput type="text">
          </td>
        </tr>
      </table>
</mat-card>